.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.logo{
  font-family:   "Courier New",
  monospace;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-shadow: 0px 0px 1px #282c34
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Template */
.navbar{
  background-color: #68DAA6;
  padding: 10px 0;
  text-align: left;
}

.main {
  padding: 30px 0;
}

.navbar .container{
  padding: 10px 0;
}

.content{
  margin: 50px 0;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.flex-center{
  justify-content: center;
  align-items: center;
}

.text-bold{
  font-weight: 700;
}

/* Project Table */
.repo-name{
  text-align: left;
  font-weight: 700;
}

.commit-card{
  border-radius: 8px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.21);
  margin: 10px;
}
.commit-card td{
  vertical-align: middle;
}

.identicon{
  display: block;
  margin: auto;
}
.username{
  margin: 0;
}

/* Project List Card */
.card{
  width: 25%;
  cursor: pointer;
  padding: 20px 15px;
  height: 100px;
  border-radius: 8px;
  margin: 10px;
}

.card:hover{
  box-shadow: 1px 1px 8px #68DAA6;
}

.card p{
  margin: 0;
  line-height: 1;
}

.card-active{
  box-shadow: 1px 1px 8px  #68DAA6;
}


.project-list{
  width: 100%;
  margin: 20px 0;
}






